<%= form_with model: order do |form| %>
      <div class="row justify-content-center mt-2">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :quantity, style: "display: block" %>
                <%= form.text_field :quantity, class:"form-control" %>
            </div>
        </div>
  </div>

     <div class="row justify-content-center mt-2">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :total_price, style: "display: block" %>
                <%= form.text_field :total_price, class:"form-control" %>
            </div>
        </div>
  </div>

  <div class="row justify-content-center mt-2">
        <div class="col-lg-3">
            <div class="form-group">
                <%= form.label :status, style: "display: block" %>
                <%= form.text_field :status, class:"form-control" %>
            </div>
        </div>
  </div>

  <div class="row justify-content-center mt-2">
        <div class="col-lg-3">
            <%= form.submit class:"btn btn-success" %>
        </div>
  </div>

<% end %>
